*{
    margin: 0; padding: 0; box-sizing: border-box;
}


.navbar{
    background-color: white !important;
    
}
 //INDEX-----------------------

.banner {
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding:30px;
    height: 700px;
    opacity: 90%;
    
    
  }
  
  .banner h1 {
    margin: 0;
    color: white;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    font-size: 32px;
 
  }
  

  .banner p {
    font-size: 30px;
    color:white;
    opacity: .7;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  }

section{
    padding: 30px;
    margin-top: 20px;
    margin-bottom: 50px;
    .div1{
        padding: 30px;
        height: 500px;
        background-color: whitesmoke;

        h2{
            text-align: center;
            padding: 20px;
        }
        
        p{
            text-align: center;
            font-size: 32px;
        }
    }
    .div2{
        height:400px;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
    }
    .div3{
        min-height: 600px;
        background-color: whitesmoke;
    }
    
        
}

div.card-deck{
    padding: 100px;
}


//SECTION-------------

    .fondo{
    background-size: cover;
    opacity:40px;
    margin-bottom: 150px;
    display: flex;
    justify-content: center;
    align-content: center;
    border-radius: 12px;}
    
    .contacto{
        background-color: white;
        opacity: 60%;
        border-radius: 12px;
        justify-content: center;
    }

    .fieldset{
       text-align: center;
        
        label{
            font-size: 1rem;
            font-weight: bold;
        }
        
            p{
            font-weight: bold;
        }
        
    }
        


//TRATAMIENTOS---------------------------- 


.ortinvisible{
    
    background-size: cover;
    min-height: 400px;
    opacity: 100%;
    border: 10px solid white;
   
}


.ortopedia{
    
    background-size: cover;
    min-height: 400px;
    opacity: 100%;
    border: 10px solid white;
}

.implantes{
    
    background-size: cover;
    opacity: 100%;
    min-height: 400px;
    border: 10px solid white;
    
}
.protesis{
    
    background-size: cover;
    opacity: 100%;
    min-height: 400px;
    border: 10px solid white;
    
}

.endodoncia{
    
    background-size: cover;
    opacity: 100%;
    min-height: 400px;
    border: 10px solid white;

}

.blanqueamiento{
    
    background-size: cover;
    opacity: 100%;
    min-height: 400px;
    border: 10px solid white;
}

.placas{
    
    background-size: cover;
    opacity: 100%;
    min-height: 400px;
    border: 10px solid white;
}

.protectores{
    
    background-size: cover;
    opacity: 100%;
    min-height: 400px;
    border: 10px solid white;
    
}


h3{
    color: white;
    font-size: 40px;
    font-weight: bold;
    
}
.fontendo{
    color: gray;
}

ul{
    list-style-type: none;
    
}

ul li{
    display: inline;
    color: black;
    padding: 25px;
    align-items: center;
}

//CONTACTO-----------------------

section.mapa{
    display: flex;


    iframe .mapa{
        margin: 30px;
        display: flex;
        
        
    }

}





//FOOTER--------------------------


footer{
    min-height: 250px;
    background-color: whitesmoke;
}


footer nav{
    padding: 20px;
}

footer ul li {
    display: inline;
}

.redessociales a :hover{
     transform: scale(1.5);
}

.card-header{
    background-color: lightsteelblue;

}
/* NOSOTROS ----------*/

.fondonosotros{
     background-size: cover;
    opacity: 80%;
    border-radius: 12px;
}

.carolina{
    margin-bottom: 40px;
    margin-top: 40px;   
    padding: 30px; 
    
}

.carolina :hover{
    font-weight: bolder;
    

}
.caro{
    background-color:transparent;
    min-height: 250px;
}
.nombrecaro{
    color: hsl(32, 100%, 50%);
    font-weight: bold;
}

.foto1{
    background-color: lightgray;
}

.matias{
    margin-bottom: 40px;
    margin-top: 40px;
    padding: 30px;
}

.matias :hover{
    font-weight: bolder;
}

.mati{
    background-color: transparent;
    min-height: 250px;
}
.nombremati{
    color: hsl(32, 100%, 50%);
    font-weight: bold;    

}

.foto2{
    background-color: lightgray;

}